@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* General Start */
html {
	overflow-x: hidden;
	font-size: 62.5%;
	font-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	color: #777;
	background: #fff;
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1.4;
	font-family: "Open Sans", sans-serif;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
	height: 100%;
	padding: 0;
	margin: 0;
}
.h1,
.h2,
.h3,
.h4,
.h5,
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Raleway', sans-serif;
}
p,
span {
  font-family: 'Raleway', sans-serif;
}
button {
  font-family: 'Raleway', sans-serif;
  outline-style: none;
}
button:focus {
  outline: none !important;
}
button:focus {
  border: none;
  outline: none;
}
input[type="button"] {
  outline: none;
}
input[type="button"]::-moz-focus-inner {
  border: 0;
}
/* General End */
/* Header Top Start */
#top-header {
	border-top: solid 2px #bababa;
	border-bottom: solid 2px #bababa;
}
#top-header .top-header-left ul {
	margin: 0px;
	padding: 0px;
  }
  #top-header .top-header-left ul li {
	list-style: none;
	display: inline-block;
	border-left: solid 2px #bababa;
	border-right: solid 2px #bababa;
  }
  #top-header .top-header-left ul li:last-child {
	border-left: none;
  }
  #top-header .top-header-left ul li a {
	display: inline-block;
	color: #5d5d5d;
	padding: 10px 15px;
	text-decoration: none;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
  }
  #top-header .top-header-left ul li a i {
	margin-right: 5px;
	color: #fff;
  }
  #top-header .top-header-right{
	  text-align: right;
  }
  #top-header .top-header-right ul {
	margin: 0px;
	padding: 0;
  }
  #top-header .top-header-right ul li {
	list-style: none;
	display: inline-block;
	border-left: solid 2px #bababa;
	border-right: solid 2px #bababa;
  }
  #top-header .top-header-right ul li:first-child {
	border-right: none;
  }
  #top-header .top-header-right ul li:last-child {
	border-left: none;
  }
  #top-header .top-header-right ul li a {
	display: inline-block;
	color: #5d5d5d;
	padding: 10px 15px;
	text-decoration: none;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
  }
  #top-header .top-header-right ul li a i {
	font-size: 18px;
	color: #d83135;
  }
  @media (min-width: 768px) and (max-width: 1200px) {
	#top-header .top-header-left ul li a {
		font-size: 11px;
		padding: 10px 10px;
	}
	#top-header .top-header-right ul li a {
		font-size: 11px;
	}	  
  }
  @media (min-width: 0px) and (max-width: 768px) {
	#top-header .top-header-left{
		text-align: center;
	}
	#top-header .top-header-right{
		text-align: center;
	}
	#top-header .top-header-left ul li{
		border-left: 0;
		border-right: 0;
	}
	#top-header .top-header-left ul li a{
		padding: 5px 8px;
	}
	#top-header .top-header-right ul li{
		border-left: 0;
		border-right: 0;
	}
	#top-header .top-header-right ul li a{
		padding: 5px 8px;
	}	  
  }
/* Header Top End */
/* Header Middle Start */
#middle-header .logo img{
	height: 70px;
}
#middle-header{
	padding-top: 10px;
	padding-bottom: 10px;
}
#middle-header .header-search{
	margin-top: 15px;
	position: relative;
}
#middle-header .header-search .form-control {
	min-width: 100%;
	padding: 8px 15px;
	font-size: 14px;
	border-radius: 5rem 5rem 5rem 5rem;
	background: #f4f4f4;
	border: 1px solid #ced4da !important;
}
#middle-header .header-search .select-custom{
	margin: 0;
	min-width: 130px;
	position: absolute;
	right: 28px;
	top: 1px;
	background: #f4f4f4;
}
#middle-header .header-search .select-custom select{
	width: 100%;
	border: 0;
	padding-left: 15px;
	padding-right: 14px;
	line-height: 36px;
	color: inherit;
	-moz-appearance: none;
	-webkit-appearance: none;
	margin: 0;
    border: 0;
    color: inherit;
    font-size: 1.3rem;
    height: 100%;
	box-shadow: none;
	background-color: inherit;
}
#middle-header .header-search .select-custom select:focus{
	outline: none !important;
	border: 0 !important;
	border-color: inherit !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
#middle-header .header-search .select-custom select:focus-visible{
	outline: none;
}
#middle-header .header-search .select-custom::before {
    position: absolute;
    content: "";
    right: 10px;
    top: 15px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
}
#middle-header .header-search button{
	position: absolute;
    border: 0;
    border-left: 1px solid #fff;
    min-width: 32px;
    color: #222529;
    font-size: 14px;
    background: #f4f4f4;
    top: 5px;
    right: 6px;
    z-index: 1;
    min-height: 30px;
    margin-right: 0;
}
#middle-header .header-search button:focus{
	outline: none !important;
	border: 0 !important;
	border-color: inherit !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
#middle-header .header-search button:focus-visible{
	outline: none !important;
	border: 0 !important;
	border-color: inherit !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
#middle-header .header-search input:focus{
	outline: none !important;
	border: 1px solid #ced4da !important;
	border-color: inherit !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
#middle-header .header-search input:focus-visible{
	outline: none !important;
	border: 1px solid #ced4da !important;
	border-color: inherit !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
@media (min-width: 0px) and (max-width: 768px) {
	.logo{
		text-align: center;
	}
}

/* Header Middle End */
/* Navigation Start */
.menu-sec{
	background-color: #d83135;
}
.menu-sec .mainnav li.nav-item a.nav-link {
	color: #fff;
  text-transform: uppercase;
  padding: 9px 5px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}
/* adds some margin below the link sets  */
.navbar .dropdown-menu div[class*="col"] {
	margin-bottom:0;
 } 
 .navbar .dropdown-menu {
   border:none;
   background-color:#0060c8!important;
 }
 
 /* breakpoint and up - mega dropdown styles */
 @media screen and (min-width: 992px) {
   
   /* remove the padding from the navbar so the dropdown hover state is not broken */
 .navbar {
   padding-top:0px;
   padding-bottom:0px;
 }
 
 /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
 .navbar .nav-item {
   padding:.5rem .5rem;
   margin:0 .25rem;
 }
 
 /* makes the dropdown full width  */
 .navbar .dropdown {position:static;}
 
 .navbar .dropdown-menu {
   width:auto;
   left:0;
   right:0;
 /*  height of nav-item  */
   top:45px;
   
   display:block;
   visibility: hidden;
   opacity: 0;
   transition: visibility 0s, opacity 0.3s linear;
   
 }
   
  
 
   
   /* shows the dropdown menu on hover */
 .navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
   display:block;
   visibility: visible;
   opacity: 1;
   transition: visibility 0s, opacity 0.3s linear;
 }
   
   .navbar .dropdown-menu {
	 border: 1px solid rgba(0,0,0,.15);
	 background-color: #fff;
   }
 
 }
 @media (min-width: 992px){
	.navbar-expand-lg .navbar-nav .dropdown-menu-left {
		right: auto;
		left: 0;
	}
 }
 .nav-fill .nav-item {
    text-align: left;
}

/* Navigation End */
/* Banner Start */
.btn {
	color: #fff;
	margin-right: 10px;
	min-width: 140px;
	min-height: 40px;
	padding: 10px 20px;
	border-radius: 30px;
	font-size: 12px;
	font-weight: 600;
  }
  .btn-black {
	border: solid 1px #343434;
	background: #343434;
	color: #fff;
	margin-right: 10px;
	min-width: 140px;
	min-height: 40px;
	padding: 10px 20px;
	border-radius: 30px;
	font-size: 12px;
	font-weight: 600;
	cursor: pointer;
  }
  .btn-brand {
	border: solid 1px #b8cd06;
	background: #b8cd06;
	color: #fff;
	margin-right: 10px;
	min-width: 140px;
	min-height: 40px;
	padding: 10px 20px;
	border-radius: 30px;
	font-size: 12px;
	font-weight: 600;
	cursor: pointer;
  }
  .divider:after {
	content: "";
	position: absolute;
	top: 35%;
	height: 3px;
	background: #d7e658;
	width: 85px;
  }
  .divider::before {
	content: "";
	position: absolute;
	top: 34%;
	height: 3px;
	background: #d6e557;
	width: 15px;
	z-index: 9;
	border-right: solid 7px #fff;
  }
  .carousel-indicators li {
	position: relative;
	-webkit-box-flex: 0;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	width: 13px;
	height: 13px;
	margin-right: 3px;
	margin-left: 3px;
	text-indent: -999px;
	background-color: #fff;
	border: solid 2px #ddd;
	border-radius: 50%;
  }
  .carousel-indicators li .active {
	background-color: #b8cd06;
  }
  .carousel-indicators .active {
	border: solid 3px #b8cd06;
	width: 16px;
	height: 16px;
	box-shadow: 0px 0px 3px 0px #b8cd06;
  }
  .middle-text {
	font-weight: 500;
	color: #8d8b8b;
  }
  .banner-section h1 {
	font-size: 60px;
	font-weight: 900;
	text-transform: uppercase;
	color: #343434;
	line-height: 60px;
  }
  .banner-offer-price {
	color: #b8cd06;
	font-size: 18px;
	line-height: 30px;
	font-weight: 500;
	font-family: sans-serif;
  }
  .best-price {
	font-size: 18px;
	color: #686868;
	margin: 10px 0 30px 0;
  }
/* Banner End */
/* Categories Start */
.product-tab{
	justify-content: flex-end;
	align-self: flex-end;	
  }
  #search_box {
	  width: 300px;
	  padding: 5px 0px;
	  text-align: center;
	  margin-top: 20px;
	  min-height: 50px;
	  position: absolute;
	  right: 17px;
	  top: 40%;
  }
  .product-tab a {
	background: transparent;
	border-right: solid 1px #b8b2b2;
	font-size: 18px;
	color: #5d5d5d;
	text-transform: uppercase;
	padding: 5px 20px;
	font-weight: 500;
	text-decoration: none;
	justify-content: flex-end;
	align-self: flex-end;
  }
  .product-tab a.active{
	  color: #04a6f2;
  }
  .product-content {
	background-color: #fff;
	padding: 15px 25px;
  }
  .product-content h2 {
	font-size: 14px;
	margin: 0;
	text-transform: uppercase;
	color: #5d5d5d;
	font-weight: 600;
	font-family: sans-serif;
	margin-bottom: 15px;
  }
  .product-content h3 {
	font-size: 12px;
	margin: 0;
	text-transform: uppercase;
	color: #b8cd06;
	font-weight: 500;
  }
  .product-content p {
	font-size: 13px;
	color: #807f7f;
  }
  .price span {
	font-family: sans-serif;
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: 500;
  }
  .catagory-deals {
	min-height: 318px;
  }
  .catagory-deals h3 {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 800;
	color: #b8cd06;
	margin: 0;
  }
  .catagory-deals h2 {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 900;
	color: #5d5d5d;
  }
  .catagory-deals .price {
	text-transform: uppercase;
	padding-bottom: 20px;
	font-size: 18px;
  }
  .catagory-deals .price span {
	font-size: 18px;
	padding-left: 10px;
  }
  .product-grid {
	position: relative;
	z-index: 1;
	margin-bottom: 20px;
  }
  .product-grid .add-to-cart {
	color: #000;
	font-size: 13px;
	font-weight: 600;
  }
  .product-grid .product-image {
	position: relative;
	transition: all 0.3s ease 0s;
  }
  .product-grid .product-image a {
	display: block;
  }
  .product-grid .product-image img {
	width: 100%;
	height: auto;
  }
  .product-grid .pic-1 {
	opacity: 1;
	transition: all 0.3s ease-out 0s;
  }
  .product-grid:hover .pic-1 {
	opacity: 1;
  }
  .product-grid:hover .pic-2 {
	opacity: 1;
  }
  .product-grid:hover .social {
	opacity: 1;
	top: 50%;
  }
  .product-grid:hover .social li {
	display: inline-block;
  }
  .product-grid:hover .social li a {
	color: #fff;
	background-color: #333;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
	height: 40px;
	width: 40px;
	margin: 0 2px;
	display: block;
	position: relative;
	transition: all 0.3s ease-in-out;
  }
  .product-grid .pic-2 {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 0.3s ease-out 0s;
  }
  .product-grid .social {
	  width: 150px;
	  padding: 0;
	  margin: 0;
	  list-style: none;
	  opacity: 0;
	  transform: translateY(50%) translateX(-50%);
	  position: absolute;
	  top: 87%;
	  left: 50%;
	  z-index: 1;
	  transition: all 0.3s ease 0s;
  }
  .product-grid .social li a:after {
	content: attr(data-tip);
	color: #fff;
	background-color: #000;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 20px;
	padding: 1px 5px;
	white-space: nowrap;
	opacity: 0;
	transform: translateX(-50%);
	position: absolute;
	left: 50%;
	top: -30px;
  }
  .product-grid .social li a:before {
	content: attr(data-tip);
	color: #fff;
	background-color: #000;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 20px;
	padding: 1px 5px;
	white-space: nowrap;
	opacity: 0;
	transform: translateX(-50%);
	position: absolute;
	left: 50%;
	top: -30px;
  }
  .product-tab a:last-child {
	border-right: none;
	padding-right: 0;
  }
  .product-grid:hover::before{
    background-color: rgba(225, 215, 35, 0.37);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
	z-index:1;
}
/* Categories End */
/* Breakpoint SM */
@media (min-width: 300px) and (max-width: 570px) {
	.banner-section {
		padding-bottom: 70px;
		background: url('../images/watch.png'), #6DB3F2;
	  }
	  .banner-section::before {
		background-color: #b8cd06ed;
		content: '';
		display: block;
		height: 100%;
		position: absolute;
		width: 100%;
	  }
	  .banner-section h1 {
		font-size: 32px;
		font-weight: 700;
		color: #fff;
		line-height: 32px;
	  }
	  .banner-section p {
		  color: #343233;
		  font-weight: 500;
		  font-size: 14px;
	  }
	  .banner-offer-price {
		color: #343233;
		font-size: 18px;
		line-height: 30px;
		font-weight: 600;
	  }
	  .best-price {
		color: #fff;
	  }
	  .product-tab a {
		font-size: 14px;
		padding: 5px 6px;
	  }
	  .btn-brand{
		border: solid 1px #ffd723;
		background: #ffd723;		  
	  }
}
